<section id="about" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
            </div>
        </div>
            <div class="col-lg-8 col-lg-offset-2 ">
                <hr class="primary" >
                <p class="text-muted" > Sandy Rao Therapy provides counselling and therapeutic services across the life-span for individuals, couples and families. Our philosophy is person-centred care. That means, we do not tell you how to live your life, rather, we build our care plans with your goals in mind. Where do you see yourself today and in the future? We work with you to achieve the life that you are looking for and draw on your own strengths to support you in living your best life today. </p>
                <p class="text-muted" > What are you concerned about? Sometimes things we believe are problems are actually solutions! Sometimes labels can be more limiting than helpful and in many cases the "issues" that you think you have (or someone has told you have) are actually your greatest strengths. Therapeutic work helps you to know yourself much better and understand who you are and who you want to be far more clearly. </p>
                <p class="text-muted" > At Sandy Rao Therapy you will receive confidential, non-judgmental, respectful treatment that is trustworthy and clinically sound. We understand that the process of therapy can be difficult and even downright painful, so making you feel safe, calm and comfortable is our priority. </p>
            </div>
        </div>
    </div>
</section>
