<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">If you're looking for a sign, this is it.</h2>
                <hr class="light">
                <p class="text-faded">The first step is always the hardest. Congratulations! By being on this website, you’ve taken that first step. Since you’ve already done the heavy lifting, we want to make sure the next step is as easy as possible. Try our 30 minute free phone consultation to find out more about what we offer and if it’s a right fit for you. </p>
                <a href="#" class="btn btn-default btn-xl">Book your free consultation!</a>
            </div>
        </div>
    </div>
</section>
